.instruments-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.instruments-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.instruments-container button {
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-family: var(--Cabinet-Medium);
    font-size: 1.5rem;
    color: var(--instruments-button-text-color);
    border-radius: 2px;
    background-color: var(--instruments-button-bg-color);
    box-shadow: 0 4px 30px var(--instruments-button-bxshd);
    transition: background-color 0.2s;
}

/**************************** MEDIA QUERIES ****************************/

@media (max-width: 1346px) {
    .instruments-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (max-width: 546px) {
    .instruments-section {
        display: none;
    }
}