.instruments-container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.instruments-container button {
    padding: 1.5rem 3rem;
    outline: none;
    border: none;
    font-family: "Cabinet-Medium", sans-serif;
    font-size: 1.5rem;
    background-color: rgba(32, 29, 29, 0.3);
    color: #eee;
}