.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    background-color: var(--keyboard-bg-color);
    padding-bottom: 2rem;
  }
  
  .piano-key {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 4rem;
    height: 20rem;
    background-color: var(--white-key-color);
    outline: none;
    border: none;
    border-radius: 2px;
  }
  
  .piano-key:active {
    background-color: var(--white-key-active-color);
  }
  
  .black-key {
    position: relative;
    height: 12rem;
    background-color: var(--black-key-color);
    margin: 0 -36px;
    z-index: 2;
  }
  
  .black-key:active {
    background-color: var(--black-key-active-color);
  }
  
  .keys-row {
    display: flex;
    gap: 0.5rem;
  }