.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  /* width: 96rem; */
  background-color: var(--keyboard-bg-color);
  padding-bottom: 2rem;
}

.keyboard-display {
  position: relative;
  font-family: var(--Satoshi-Regular);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--keyboard-display-bg-color);
}

.keys-played-display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: var(--playback-array-display-bg-color); */
  width: 79.3%;
  height: 100%;
  padding-left: 2rem;
  overflow: auto;
  background: url(../images/grey-gradient.png);
  background-position: bottom;
  background-repeat: repeat;
  color: var(--white);
  text-shadow: 0px 0px 2px var(--main-white);
}

.keys-played-display::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--main-black-even-lighter);
  position: absolute;
  left: 0;
  top: 0;
}

.keys-row {
  display: flex;
  gap: 0.5rem;
}

.piano-key {
  position: relative;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 4rem;
  height: 20rem;
  outline: none;
  border: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  /* box-shadow: 0px 5px 3px rgb(82, 82, 82); */
  /* transition: box-shadow 0.1s; */
  transition: top 0.1s;
}

.black-key {
  position: relative;
  height: 12rem;
  margin: 0 -36px;
  z-index: 2;
  /* box-shadow: 0px 5px 3px rgba(119, 119, 119, 0.7); */
  transition: margin 0.1s;
}

.react-icons {
  font-size: 3rem;
  color: grey;
}

/* .play-button {
  position: sticky;
} */

/*------------------------------MEDIA QUERIES------------------------------*/

@media (max-width: 1529px) {
  .keyboard {
    overflow-x: auto;
    /* overflow-y: visible; */
  }
}

@media (max-width: 1346px) {
  .piano-key {
    height: 15rem;
  }
  .black-key {
    height: 9rem;
  }
}

@media (max-width: 748px) {
  .piano-key {
    height: 10rem;
  }
  .black-key {
    height: 6rem;
  }
  .react-icons {
    font-size: 2rem;
    margin: 0 1rem;
  }
}

@media (max-width: 450px) {
  .sliders-container {
    width: 90%;
    gap: 4rem;
  }
}