.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* gap: 0.5rem; */
  width: 80%;
  /* width: 96rem; */
  background-color: var(--keyboard-bg-color);
  padding-bottom: 2rem;
}

.keyboard-display {
  font-family: var(--Satoshi-Regular);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--keyboard-display-bg-color);
}

.keys-played-display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: var(--playback-array-display-bg-color); */
  width: 79.3%;
  height: 100%;
  padding-left: 2rem;
  overflow: auto;
  background: url(../images/grey-gradient.png);
  background-position: bottom;
  background-repeat: repeat;
  color: var(--white);
  text-shadow: 0px 0px 2px var(--main-white);
}

.keys-played-display::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--main-black-even-lighter);
  position: absolute;
  left: 0;
  top: 0;
}

.keys-row {
  display: flex;
  /* gap: 0.5rem; */
  gap: 0.5rem;
  /* border: 2px solid red; */
}

.piano-key {
  position: relative;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 4rem;
  height: 20rem;
  outline: none;
  border: none;
  border-radius: 2px;
  transition: top 0.1s;
}

.black-key {
  position: relative;
  height: 12rem;
  /* width: 3rem; */
  /* margin: 0 -36px; */
  margin: 0 -36px;
  z-index: 2;
  transition: margin 0.1s;
}