.sliders-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--sliders-section-bg-color);
  padding: 3rem 0;
  width: 80%;
}

.sliders-general {
  width: 40em;
  position: relative;
  display: flex;
  user-select: none;
}

.sliders-general p {
  padding: 0.2rem;
  background-color: rgb(61, 61, 61);
  font-family: var(--Cabinet-Medium);
  position: absolute;
  top: 14px;
  left: 0;
  /* right: 0; */
  color: rgb(163, 163, 163);
  font-size: 1.1rem;
  margin: 0 auto;
}

.sliders-general .slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0.4em;
  outline: none;
  border-radius: 3px;
  background-color: var(--slider-bg-color);
  box-shadow: 3px 3px 6px var(--slider-bxshd-1), inset 1px 1px 1px var(--slider-bxshd-2);
}

.sliders-general .slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

.sliders-general .slider-thumb {
  position: absolute;
  width: 4em;
  height: 1.3em;
  background-color: var(--slider-thumb-bg-color);
  border-radius: 1%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: inset 0px 1px 2px var(--slider-thumb-bxshd);
}

.sliders-general .slider-thumb::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3.6em;
  height: 0.9em;
  border-radius: 1%;
  background-color: var(--slider-thumb-BEFORE-bg-color);
  border-radius: inherit;
  transition: 0.3s;
}

.sliders-general:hover .slider-thumb::before {
  background-color: var(--slider-thumb-BEFORE-bg-color-HOVER);
  transition: 0.3s;
}

.sliders-general .tool-tip {
  position: absolute;
  width: 3.8em;
  height: 2em;
  top: -2em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-black);
  text-align: center;
  line-height: 35px;
  color: var(--main-white);
  border-radius: 3px;
  box-shadow: 0px 3px 2px var(--slider-tooltip-bxshd-1), inset 0px 1px 2px var(--slider-tooltip-bxshd-2);
}

.sliders-general .tool-tip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid var(--main-black);
  bottom: -0.5em;
  left: 50%;
  transform: translate(-50%);
}

.sliders-general .progress {
  height: 0.4em;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  pointer-events: none;
}

.ping-pong-slider .progress,
.feedback-slider .progress,
.bit-crusher-slider .progress {
  background: linear-gradient(90deg, var(--general-progress-linear-bg-1), var(--general-progress-linear-bg-2) 100%);
}

/* .ping-pong-slider .progress {
  background: linear-gradient(90deg, #E07BE0, #932F6D 100%);
}

.feedback-slider .progress {
  background: linear-gradient(90deg, #E07BE0, #932F6D 100%);
}

.bit-crusher-slider .progress {
  background: linear-gradient(90deg, #E07BE0, #932F6D 100%);
} */

/**************************** MEDIA QUERIES ****************************/

@media (max-width: 450px) {
  .sliders-container {
    width: 90%;
    gap: 4rem;
  }
}