.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: #6b48ca;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: "Cabinet-Regular", sans-serif;
  font-size: 2.8rem;
  letter-spacing: 0.4rem;
  color: #eee;
}


