.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--background-color);
  text-align: center;
  height: 100vh;
  width: 100vw;
  animation: background-animation 150s linear infinite;

  /* background: url(./images/blue-sky.png);
  background-size: cover;
  background-position: top left; */
}

/* @keyframes background-animation {
  50% {
    background-position: center;
  }
} */

h1 {
  font-family: var(--Cabinet-Regular);
  font-size: 2.8rem;
  letter-spacing: 0.4rem;
  color: var(--main-white);
}

::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background: var(--main-black);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, grey 1%, var(--main-black-lighter) 100%);
}




