* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Clash-Light";
  src: url("./fonts/ClashDisplay/ClashDisplay-Light.otf");
}

@font-face {
  font-family: "Clash-Regular";
  src: url("./fonts/ClashDisplay/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "Clash-Medium";
  src: url("./fonts/ClashDisplay/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("./fonts/Satoshi/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Cabinet-Regular";
  src: url("./fonts/CabinetGrotesk/CabinetGrotesk-Regular.otf");
}

@font-face {
  font-family: "Cabinet-Medium";
  src: url("./fonts/CabinetGrotesk/CabinetGrotesk-Medium.otf");
}

@font-face {
  font-family: "PolySans";
  src: url("./fonts/PolySans/PolySans-Slim-Italic.otf");
}

body {
  font-family: "Clash-Medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
